{% extends 'base.html' %}
{%block content %}
    <div class="mb-14 flex items-center text-left">
        <a
            href="{% url 'proverb_list' %}"
            class="bg-orange-500 text-white font-bold py-2 px-4 rounded-xl backdrop-blur-md bg-opacity-80"
        >
            &#x2190; Back to Proverb List
        </a>
    </div>

    <!--<h1 class="text-3xl font-bold text-slate-800 mb-6">Yoruba Text-to-Speech</h1>-->

{# Section for displaying details and playing TTS of an existing proverb #}
    <div class="bg-white flex flex-col gap-8 border border-stone-800 p-6 rounded-xl shadow-md mb-8 backdrop-blur-md bg-opacity-80">
        {% if proverb %}
            <div>
                <div class="proverb-card rounded-md ">
                    <p class="text-xl sm:text-3xl font-semibold italic text-onBackground ">
                        "{{ proverb.text }}"
                    </p>
                </div>
                <div
                    class="translation-card p-2 sm:p-4  border-slate-500 "
                >
                    <p class="sm:text-lg text-onSurface">
                        <strong>Translation:</strong> {{ proverb.translation }}
                    </p>
                </div>
            </div>

            <div
                id="current-proverb-audio"
                class=" bg-background sm:p-2 rounded-full sm:rounded-md shadow-sm border border-border"
            >
                <audio controls class="w-full rounded">
                    <source src="{{ proverb.audio.url }}" type="audio/mpeg" />
                    Your browser does not support the audio element.
                </audio>
            </div>

            <a
                href="{% url 'rate_proverb' proverb_id=proverb.id %}"
                class="bg-blue-500 w-fit text-white font-bold py-2 px-4 rounded"
            >
                Rate this Proverb
            </a>

        {% else %}
            <p class="text-onBackground">No specific proverb selected.</p>
        {% endif %}
    </div>

<!--<div class="mt-8 text-center">
    <a
        href="{% url 'proverb_list' %}"
        class="text-primary hover:underline transition duration-200"
    >
        Back to Proverb List
    </a>
</div>-->

{% endblock %}
